input{
    border-radius: 10px;
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--primary-color);
    flex: 1;
  }
  
  button#search-btn{
    border-radius: 10px;
    padding: 0.5rem;
    outline: none;
    background-color: var(--secondary-color);
    cursor: pointer;
    color:white;
  }
  
  button#search-btn:hover {
    background-color: var(--primary-color);
  }

  /* card styling */

  .card {
    width: 250px;
    height: 210px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    margin: 1rem 0;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

#admin-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}


