header {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    color: #606060;
    padding: 1.5rem;
    text-align: center;
    align-items: center;
  }

  header img {
    width: auto;
    justify-content: center;
    align-items: center;
  }

  nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    width: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  nav a {
    color: #606060;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

  nav a:hover::after {
    width: 100%;
  }

  nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #606060;
    transition: width 0.3s;
  }
  
  nav a.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }